In [2]:
High_schools = ['Hernandez High School','Figueroa High School', 'Wilson High School', 'Wright High School']
for schools in High_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for type in high_school_types:
    print(type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
#List of high schools 
high_schools = ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School','Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [8]:
#Add as Pandas dependency.
import pandas as pd

In [9]:
#Create a pandas series from a list.
school_series = pd.Series(high_schools)

In [10]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6        Bailey High School
7        Holden High School
8          Pena High School
9        Wright High School
10    Rodriguez High School
11      Johnson High School
12         Ford High School
13       Thomas High School
dtype: object

In [16]:
#A dictionary of high chools 
high_school_dicts = [{'School ID': 0, 'School_name': 'Huang High School', 'Type': 'District'},{'School ID': 1, 'School_name': 'Figueroa High School', 'Type': 'District'}, {'School ID': 2, 'School_name': 'Shelton High School', 'Type': 'Charter'}, {'School ID': 3, 'School_name': 'Hernandez High School', 'Type': 'District'}, {'School ID': 4, 'School_name': 'Griffin High School', 'Type': 'Charter'}]

In [17]:
high_school_dicts

[{'School ID': 0, 'School_name': 'Huang High School', 'Type': 'District'},
 {'School ID': 1, 'School_name': 'Figueroa High School', 'Type': 'District'},
 {'School ID': 2, 'School_name': 'Shelton High School', 'Type': 'Charter'},
 {'School ID': 3, 'School_name': 'Hernandez High School', 'Type': 'District'},
 {'School ID': 4, 'School_name': 'Griffin High School', 'Type': 'Charter'}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            School_name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:
# Three separate lists of information on high schools 
school_id = [0, 1, 2, 3, 4]

school_name = ['Huang High School', ' Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School']

type_of_school = ['District', 'District', 'Charter', 'District', 'Charter']

In [32]:
school_id

[0, 1, 2, 3, 4]

In [33]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [34]:
# Add the list to a new DataFrame 
schools_df['School ID'] = school_id
schools_df['School Name'] = school_name
schools_df['Type'] = type_of_school

# Print the DataFrame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [76]:
# Create a dictionary of infromation on high schools
high_schools_dict = {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}

In [43]:
# Convert Dictionary into a DataFrame
high_school_df = pd.DataFrame()

In [48]:
high_school_df[high_schools_dict]

NameError: name 'high_school_df' is not defined